.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 458px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 673px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  width: 673px;
  margin: 37px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: linear-gradient(45deg, #425465, #292e33);
}

.u-section-2 .u-sheet-1 {
  min-height: 794px;
}

.u-section-2 .u-text-1 {
  width: 740px;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 740px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 714px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-1 {
  min-height: 199px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 96px;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px 12px 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-text-6 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 30px 22px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 160px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 714px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-2 {
  min-height: 199px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 155px;
  font-size: 1.25rem;
  margin: 38px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px 12px 0;
}

.u-section-2 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-text-10 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 30px 22px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 32px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 714px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-3 {
  min-height: 199px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 96px;
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px 12px 0;
}

.u-section-2 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-text-14 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 30px 22px 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 96px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 714px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 30px;
}

.u-section-2 .u-group-4 {
  min-height: 199px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 30px 0 45px;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  width: 96px;
  background-image: none;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-2 .u-text-16 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px 12px 0;
}

.u-section-2 .u-text-17 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0;
}

.u-section-2 .u-text-18 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 30px 22px 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 32px auto 0;
  padding: 12px 42px 13px 41px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 705px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 589px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 589px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 589px;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-15 {
    font-size: 1.5rem;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  animation-duration: 1000ms;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 785px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 1.875rem;
  margin: 60px 100px 0;
}

.u-section-4 .u-text-2 {
  width: 704px;
  margin: 20px auto 0;
}

.u-section-4 .u-image-1 {
  width: 773px;
  height: 519px;
  margin: 109px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    line-height: 25.6px;
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 483px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 362px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 228px;
  }
}